<!DOCTYPE html>

<!-- "meta" tags and "noscript" tag from --
  -- https://blog.usejournal.com/creating-a-react-app-from-scratch-f3c693b84658
  -- -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <noscript>
      This website depends on the JavaScript tools: React.js and
      Express.js to run.
    </noscript>
  </body>
</html>
