<!DOCTYPE html>
<html lang="en">
  <head>
    <!--FIXME meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Anukaw100, ss-raicangu" />
    <meta
      name="description"
      content="A documentation page for our machine-learning-based parking detection project."
    />
    <!--FIXME meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.openGraphImage %>"
    -->
    <!--FIXME meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.openGraphDescription %>"
    -->
    <!--FIXME meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.openGraphTitle %>"
    -->
    <!--FIXME link
      rel="shortcut icon"
      href="<%= htmlWebpackPlugin.options.favicon %>"
      type="image/x-icon"
    -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="document">
    <div id="root"></div>
    <noscript>
      This website depends on the JavaScript tools: React.js and Express.js to
      run.
    </noscript>
  </body>
</html>
