/** @define container */

.container {
  border: 3px solid black;
  margin: 3em auto 0 auto;
  padding: 0;
  text-align: center;
  width: 35%;
}

.container__heading {
  color: #212614;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.container__alt-info {
  display: block;
  font-size: 1rem;
  margin: 0 auto 2em auto;
  width: 60%;
}

.container__alt-button {
  background-color: #1c87c9;
  border: none;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 40%;
}

@media (max-width: 830px) {
  .container {
    width: 50%;
  }

  .container__alt-button {
    width: 45%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 90%;
  }

  .container__alt-button {
    width: 45%;
  }
}
