/** @define alert */

.alert {
  background: lightcoral;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.alert__message {
  margin-left: auto;
}

.alert__close-button {
  background: lightcoral;
  border: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 5%;
  margin-left: auto;
  padding: 0.2em;
}
