.nav-menu .list, .login-nav-item, .sidebar button, #sidebar-menu {
  /* Elements in "Common/common-sections.jsx". */
  display: none;
}

a {
  text-decoration: none;
}

.form-style {
  border: 3px solid black;
  margin: 3em auto 0 auto;
  padding: 0;
  text-align: center;
  width: 35%;
}

.form-style input, .form-style span {
  display: block;
  font-size: 1rem;
  margin: 0 auto 2em auto;
  width: 60%;
}

.form-style button {
  margin: 0 auto 3em auto;
}

.switch-form {
  background-color: #1c87c9;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
  width: 40%;
}

@media (max-width: 830px) {

  .form-style {
    width: 50%;
  }

  .switch-form {
    width: 45%;
  }

}

@media (max-width: 450px) {

  .form-style {
    width: 90%;
  }

  .form-style input {
    width: 80%;
  }

  .switch-form {
    width: 45%;
  }

}
