body {
  margin: 0;
  background-color: rgba(56, 59, 68, 0.431);
}

.main {
  padding-top: 3%;
}

.container {
  text-align: center;
  margin: auto;
  width: 60%;
}

h1 {
  width: 100%;
  font-size: 3rem;
  color: #212614;
  text-align: center;
}

img {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
}

.col {
  text-align: left;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

.col-bg {
  background: #212614;
  padding: 1em;
  color: #fff;
}

@media (max-width: 600px) {
  
  .columns {
      flex-direction: column;
    }
  
    .col-1,
    .col-2,
    .col-3 {
      width: 100%;
    }
}