/* FIXME Some styles might be more suitable in page-specific stylesheets. */

body {
  background-color: rgba(56, 59, 68, 0.431);
  margin: 0;
}

main {
  padding-top: 3%;
}

.container {
  margin: auto;
  text-align: center;
  width: 60%;
}

main h1 {
  color: #212614;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

main img {
  width: 100%;
}

.columns {
  align-items: flex-start;
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
}

.col {
  text-align: left;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

.col-bg {
  background: #212614;
  color: #fff;
  padding: 1em;
}

@media (max-width: 600px) {

  .columns {
    flex-direction: column;
  }

  .col-1, .col-2, .col-3 {
    width: 100%;
  }

}
